/* Base styling */
:root {
    --font-one: 'Bebas Neue';
    --font-two: 'Kanit';
    --font-three: 'Lisu Bosa';
    --font-four: 'Gruppo';
    --thru-black: rgba(51, 81, 99, 0.4);
    --border-color: rgb(176, 175, 175);
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--font-three);
    color:white;
}

html {
    background-image: url('../images/blue-oil-canvas-dark.png');
    background-size:contain;
}

.flex-center {
    display:flex;
    justify-content: center;
}

.indent {
    text-indent: 30px;
}

li, a {
    list-style: none;
    color:white;
    text-decoration: none;
}

.underline {
    border-bottom:none;
    border-top:none;
}
.underline:hover {
    border-bottom:white 1px solid;
    border-radius:5px;
}

/* Landing screen */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:47vh;
}

#name {
    font-family:var(--font-one);
    font-size: 80px;
    text-align: center;
    margin-top:40vh;
    margin-bottom:10px;
}

nav ul {
    display:flex;
    font-size: 23px;
    font-family: var(--font-two);
}

nav ul li {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    padding:2px;
}


nav ul li a {
    text-decoration:none;
    padding:5px;
    padding-bottom:2px;
}

/* Between header and footer */
#whole-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:1440px;
}

.section-title {
    font-size: 60px;
    text-align: center;
    padding-top:40px;
    padding-bottom:60px;
    font-family: var(--font-one);
}

#about-me-section, #work-section {
    box-sizing:border-box;
    margin:10px;
    border-radius: 50px;
    background-color: var(--thru-black);
}

#about-me-section {
    align-self: flex-start;
    padding:20px;
    width:80%;
    position:relative;
    margin-bottom:50px;
}

#work-section {
    align-self: flex-end;
    padding:20px;
    width:75%;
    position: relative;
    margin-bottom:100px;
}

/* About Me Section */
#headshot-circle {
    width:200px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px var(--border-color) solid;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom:60px;
}

#headshot {
    width:350px;
}

#about-me-paragraph {
    text-align: justify;
    line-height: 1.3;
    font-size: 22px;
    display:flex;
    flex-direction: column;
}

.par-title {
    font-family: var(--font-two);
    font-size: 28px;
    margin-bottom:25px;
    text-align: start;
}

#par-one, #par-two, #par-three, #par-four, #par-five {
    padding: 50px;
    border-radius: 30px;
    width:60%;
    position:relative;
    background-color: var(--thru-black);
}

/* Borders that are always visible */
#par-one::before,
#par-two::before,
#par-three::before,
#par-four::before,
#par-five::before,
#about-me-section::before,
#work-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    z-index: 1;
    border-radius: 30px;
    pointer-events: none;
}

#about-me-section::before,
#work-section::before {
    border-radius: 50px;
}

#par-one {
    left: 70px;
    width:70%;
}

#par-two {
    left: 45.5%;
    width:48%;
}

#par-three {
    width: 63%;
}

#par-four {
    left: 30%;
}

#par-five {
    left: 15%;
    width:70%;
}

/* Work Section */
#projects {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-card {
    width:45%;
    border:var(--border-color) 1px solid;
    border-radius: 30px;
    font-size: 30px;
    background-color: var(--thru-black);
    position:relative;
}

#proj-one {
    transform: rotate(-10deg);
    top: 0;
    left:.45%;
}

#proj-two {
    left:5%;
}

#proj-three {
    left: 30%;
    width:56%;
}

#proj-five {
    left:10%;
}

.project-info {
    padding:20px;
}

.project-title, .project-repo {
    text-decoration: none;
}

.project-title {
    padding-top:20px;
    padding-bottom:40px;
}

.project-title a {
    font-family: var(--font-four);
    font-size: 60px;
}

.item {
    margin-bottom:10px;
}

/* Footer */
footer {
    font-size: 22px;
    padding-bottom: 50px;
}

#contact-info {
    display:flex;
    justify-content: space-around;
}

#contact-info li {
    padding-bottom:2px;
}

/* Media Queries */
@media screen and (max-width:980px) {
    #about-me-section, #work-section {
        width:100%;
        align-self: center;
    }
    .underline {
        border-bottom:white 1px solid;
        border-radius:5px;
    }
    #proj-one {
        left:.2%;
    }
}

@media screen and (max-width:1121px) {
    #proj-one {
        left: .6%;
    }
}