img {
    width:100px;
}

:root {
    --color-1:#1a625b;
    --color-1:white;
    --color-2:#d54d4d;
    --color-2:white;
    /* add opacity .93 back to color-3 */
    --color-3: #2ab5a7;
    --color-3:white;
    --color-4: #03A696;
    --color-4:white;
}

html, body, header, img, nav, ul, footer {
    padding:0;
    margin:0;
}

.flex-center {
    display:flex;
    justify-content: center;
}

.indent {
    text-indent: 30;
}

/* body {
    background-color: white;
} */

li, a {
    list-style: none;
    color:black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:45vh;
}

#cover-photo {
    object-fit: cover;
    height:250px;
    width:100%;
    border-bottom: black 1px solid;
}

#name {
    font-family:'Bebas Neue';
    font-size: 60px;
    text-align: center;
    margin-top:40vh;
    margin-bottom:20px;

}

nav ul {
    display:flex;
    font-size: 22px;
    font-family: 'Kanit';
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding:2px;
}

nav ul li:hover {
    text-decoration: underline;

}

nav ul li a {
    text-decoration:none;
    padding:5px;
}

#whole-content {
    display:flex;
}

.section-title {
    font-size: 40px;
    text-align: center;
    padding-top:40px;
    padding-bottom:60px;
}

#about-me-section, #work-section {
    box-sizing:border-box;
    margin:10px;
    margin-right:0;
    border: 1px black solid;
    border-radius: 5px;
}

#about-me-section {
    padding:12px;
    width:25%;
    background-color:var(--color-2);
}

#work-section {
    margin-right:10px;
    padding:20px;
    background-color: var(--color-4);
    width:75%;
}

#headshot-circle {
    width:200px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px black solid;
    border-radius: 50%;
    background-color: var(--color-2);
    overflow: hidden;
    margin-bottom:30px;
}

#headshot {
    width:350px;
}

#about-me-paragraph {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3;
    font-size: 18px;
}

#projects {
    display:flex;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
    width:46%;
    margin:2%;
}

#first-project {
    width:100%;
}

#first-project .project-image {
    height: 400px;
}

.project-image {
    width:100%;
    height: 250px;
    border: black 1px solid;
    border-radius: 10px;
    object-fit: cover;
}

.project-title-card {
    background-color: var(--color-3);
    fill-opacity: .8;
    font-size: 14px;
    width: 70px;
    height: calc(100% - 50px);
    padding:10px;
    position: absolute;
    bottom:15px;
    left:3px;
    border:black 1px solid;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}