:root {
    --light-red:rgb(177, 68, 59);
    --blueish:rgb(77,170,163);
    --offwhite:rgb(233, 233, 196);
}

body {
    margin:10px;
}

header {
    background-color: var(--light-red);
    margin-bottom: 0;
}

h1 {
    padding-left:35px;
    padding-right:10px;
    background-color: var(--light-red);
    display:inline-block;
    color:black;
}

nav {
    padding-top:35px;
    float:right;
    width:500px;
    display:flex;
    justify-content:right;
    padding-right:2%;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color:black;
    font-size:23px;
}

/* Underline links in navigation and Contact Me section */
.underline {
    text-decoration: underline;
}

.cover {
    position:relative;
}

/* Objecg fit allows cover photo to remain in the same shape when the viewport changaes sizes */
.cover img {
    display:block;
    border:black 2px solid;
    height:250px;
    width:100%;
    object-fit: cover;
    box-sizing: border-box;
}

/* Subtitle position in bottom right corner of cover photo */
.cover h2 {
    position:absolute;
    right:10%;
    bottom:0px;
    background-color: var(--blueish);
    padding: 5px 25px 5px 25px;
    border-radius:4px;
    font-size:40px;
    border:black 1px solid;
}

.topic {
    display: flex;
    height:100%;
    width:100%;
    margin-top:20px;
}

#about-me .info img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width:500px;
    border-radius: 15px;
}

#about-me .info p {
    background-color: var(--blueish);
    border-radius: 5px;
    padding:10px;
}

h3{
    display:inline-block;
    width:20%;
    font-size:55px;
    text-align: right;
    color:var(--light-red);
    margin-right: 5px;
}

.info{
    float:right;
    width: 70vw;
    padding-left:30px;
    padding-right:30px;
    margin-right:20px;
    border-left:black 2px solid;
    box-sizing: border-box;
}

#work .info {
    display:flex;
    flex-wrap:wrap;
}

/* First project link is bigger than the others */
#first-box {
    position:relative;
    width:100%;
    flex:1 1 1000px;
    height:300px;
}

#work .info #first-box img,
#work .info .project img {
    display:block;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
    box-sizing: border-box;
}

#work .info #first-box img {
    height:400px;
}

#work .info .project img {
    height:200px;
    filter:saturate(40%) blur(1px);
    filter: brightness(70%) sepia(10%) hue-rotate(190deg) blur(2px);
}

.project {
    position:relative;
    padding:50px;
    margin:10px;
    flex:1 1 350px;
    height:100px;
    border:black 2px solid;
}

/* Project title sits in bottom left corner of project image */
.project-title {
    position:absolute;
    bottom:20px;
    left:0;
    background-color:rgb(11, 70, 69);
    padding-left:15px;
    padding-right:15px;
    width:150px;
    color:var(--offwhite);
}

/* Contact Me info is displayed in a row */
#contact-me .info{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding-top:30px;
    padding-bottom: 30px;
    min-width:250px;
}

#contact-me .info ul {
    display:flex;
    margin-right: 0px;
    align-items:center;
}

/* Format project images when hovered over */
#work .info .project:hover img,
#work .info #first-box:hover img {
    filter:grayscale(0);
    border:aquamarine 2px solid;
}

/* Changes layout for smart devices accessing this website */
@media screen and (max-width:980px) {
    p {
        font-size: 22px;
    }
    h4 {
        font-size:25px;
    }
    h2 {
        font-size:50px;
    }
    h3 {
        font-size:35px;
        width:100%;
        text-align: center;
    }
    header nav {
        display:none;
    }
    .topic {
        display:flex;
        flex-direction:column;
    }
    .info {
        width:100%;
    }
    #contact-me .info {
        width:100%;
        display:flex;
        flex-direction:column;
    }
    #contact-me .info ul li a{
        font-size:20px;
    }
    
    #first-box {
        height:100px;
    }
    #work .info #first-box img{
        height:200px;
    }
    #about-me .info img {
        width:500px;
    }
    .project-title {
        bottom:0;
    }
}

/* Optimize layout and cleanliness of Contact Me list */
@media screen and (max-width:1100px) {
    #contact-me .info ul {
        width:40%;
    }
    #work .info .project img {
        filter:grayscale(0) blur(0);
    }
}