:root {
    --font-one: 'Bebas Neue';
    --font-two: 'Kanit';
    --font-three: 'Lisu Bosa';
    --font-four: 'Gruppo';
    --thru-black: rgba(35, 58, 73, 0.4);
    --border-color: rgb(176, 175, 175);
    /* --shadow-color: rgb(42, 64, 91); */

    background-image: url(../../blue-oil-canvas-dark.png);
    background-size: cover;
    color: white;
    color: white;
    font-family: var(--font-two);
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family:var(--font-one);
    font-size: 80px;
    text-align: center;
    margin: 0;
    margin-bottom: 100px;
}

#my-name {
    margin-bottom: 0;
}

h3 {
    font-family: var(--font-two);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 25px;
}

p {
    text-indent: 40px;
    max-width: 800px
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

li {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
    /* border-bottom: white 0.5px solid; */
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: box-shadow .5s, background-color .5s;
}

a:hover {
    background-color: rgb(133,159,168, .5);
    /* box-shadow: 0 0 10px 1px rgb(133,159,168); */
}

.gray-container {
    background-color: var(--thru-black);
    border:var(--border-color) 1px solid;
    border-radius: 20px;
}

.nav {
    width: 400px;
    position: absolute;
    top: 150px;
}

.contact-form {
    padding: 15px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    display: flex;
    justify-content: center;
    flex: 1;
    display: relative;
}

.page {
    margin: 50px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-container {
    margin-top: 20px;
}

#headshot-circle {
    width:200px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px var(--border-color) solid;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#headshot {
    width:350px;
    position:absolute;
    top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 500px;
}

.form-field {
    margin-bottom: 10px;
    height: 30px;
    padding-left:7px;
    border-color: var(--border-color);
    border-radius: 8px;
    font-family: var(--font-two);
}

#message {
    height: 100px;
    resize: vertical;
    padding: 8px;
    padding-left: 9px;
}

#submit {
    background-color: rgb(113, 140, 149);
    color: white;
}

#submit:hover {
    background-color: rgb(86, 110, 119);
}

.project-image {
    width: 400px;
    max-width: 80vw;
    border-radius: 10px;
    border:rgb(43, 83, 97) solid 3px;
}

.project-links {
    width: 280px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name {
    margin-bottom: 10px;
}

#first-project {
    margin-top: 0px;
}

.project {
    margin-top: 100px;
}

#footer {
    width: 100%;
}